{% extends "base.html" %}


{% block app_content %}
    <h1>
        About Us
    </h1>
    <h3>
        Who are we and why would we take the time to create a website devoted to a single food that most people only eat in a pinch?
    </h3>
    <br>
    <p>
        Breakfast burrito enthusiasts, 
        that’s who! We love those tenderly wrapped little-donkeys chock full of greasy goodness and we want to share our 
        passion with the world.
    </p>
    <br>
    <p>
        Our two primary reviewers and co-founders, Bryce and Alex, are both from the Denver area where the Breakfast Burrito (BB) is king. 
        As the saying goes, “you don’t know what you’ve got til it’s gone,” and so when the boys went away to college on the east coast the realities of living in a BB-desert far from the southwest immediately set in.  After traveling home on various occasions and meeting up at various BB-joints around town, Bryce and Alex became inspired by the multitude of variations on such a simple concept: some good – some bad; some smothered and others held in-hand. It was on a frosty winter morning in Alex’s car, about half-way through a fresh, tasty BB that an idea was born. 
        This idea has grown and blossomed into what you see on these very pages before you.
    </p>
    <br>
    <br>
    <h3>
        More About Us
    </h3>
    <br>
    <p>
        Bryce (aka Brotha) hails from Denver, Colorado and is an avid BB enthusiast. In his free time he enjoys meeting Alex for breakfast, which more often than not involves a BB. 
        Still residing on the East Coast in Boston, he will be finishing up his first year of residency and hitting the old dusty trail back west to Denver in 2023.
    </p>
    <br>
    <p>
        Alex (aka Francy Pantz) is also from the mile-high city. 
        Upon getting his BS in physics in Maine, he high-tailed it back to the promised land where he has resided since. 
        Favorite activities include taking “Alex-Days” and growing lettuce.
    </p>
{% endblock %}