{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Burrito Banter</h1>
    <p>
        The best way to take a BB to the next level is through elevated conversation. Brotha and Francy will post topics of their breakfast conversations here in the hopes that it will inspire your own burrito banter.
        <br>
        <br>
        5/15/17 – Bonfire Burritos: “Breakfast burritos are like children. It’s hard to really rank or compare them because you just love each one in a different way.” 
        <br>
        <br>
        5/17/17 – Bonfire Burritos –> eaten creekside in Golden: Markus (exchange student at Colorado School of Mines) noted that Mexican food is hard to find in Austria. The idea of creating a ‘knock-off’ Chipotle franchise back in Austria emerged. We would name it “Chipotle-olay by Markus.”
        <br>
        <br>
        6/17/17 – The Wake Cafe – Another business idea: Uber for boats… aka “BÜber”. It could be operated by women who may or may not be topless. On the flip side, there could be a parallel business called “DÖnger” which provides portage by male captains. Again, clothing optional but this would be at the discretion of the client.
        <br>
        <br>
        6/30/17 – Sagebrush BBQ and Grill. A great idea for a new TV show was born.  It would be called ‘BB SOS’ or ‘BB Rescue’ and it would entail Alex and Bryce visiting troubled burrito joints to provide them with insight and advice to turn their businesses around. The restaurants in turn would provide us with BBs. 
        <br>
        <br>
        10/22/17 – While discussing a possible update to the scoring system on a chilly October afternoon (of note, not over breakfast burritos), Bryce and Francy had trouble answering an important question: “Is a burrito without a tortilla still a burrito?” As the two further debated this philosophical quandary, another question emerged: “Is Burrito Banter without a burrito just banter?”
        <br>
        <br>
        8/25/2018 – Overheard from another table at Onefold: “I really don’t want me to do drugs tonight.” Also during this BB sesh, the first product of Francis-Meyer Brewing was developed… potato vodka exclusively made with heirloom purple fingerling potatoes. Possible product names to include: Güten Fingerlingen, Fingerlingading, Fingered.
        <br>
        <br>
        9/28/2019 – While awaiting our savory BB’s at Steuben’s, the Francis-Meyer think tank discussed a possible new business idea over appetizers of fried pickles and poutine (fries, cheese and gravy): “Poutinista: the Ultimate Poutine-Rating Website” . Potential scoring systems were hazarded; however, there was growing concern that the name of the site could be confused with pornography which is not what we’re about. Integration of porn and poutine was briefly discussed but ultimately abandoned. Fortunately, our BB’s arrived and that was the end of ‘Poutinista’.
    </p>
    <br>
    <br>
{% endblock %}