{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>How We Rate</h1>
    <p>We take the review process very seriously! Quality Breakfast Burritos must perfectly balance bold, robust flavors with delicate, textural variation. To our knowledge no objective scoring-system for Breakfast Burritos has been developed (unfortunately the funding in this realm of science just doesn’t exist).  So, as scientists, we’ve taken it upon ourselves to attempt to capture the complexities wrapped in each tortilla by developing the break-down below. Although it is somewhat painful to boil down a Breakfast Burrito to a single number, we feel that through this system we can fairly assign and rank our favorite little (or sometimes massive) morning munchies. Below, you can find out how we rate.
    </p>
    <br>
    <h2>#1: Tortilla<h2>
    <p>Although the tortilla is the first thing we see before eating, it is often overlooked. At Burritista, we believe this thin layer of flour or corn is integral to the overall experience and should really be thought of as the Window to the Soul of the Breakfast Burrito. Important factors include texture, structural integrity and folding technique (including appropriate ‘tucking’ of the ends). Scored: 1-10.
    </p>
    <br>
    <br>
{% endblock %}