{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>How We Rate</h1>
    <p>We take the review process very seriously! Quality Breakfast Burritos must perfectly balance bold, 
        robust flavors with delicate, textural variation. To our knowledge no objective scoring-system 
        for Breakfast Burritos has been developed (unfortunately the funding in this realm of science 
        just doesn’t exist).  So, as scientists, we’ve taken it upon ourselves to attempt to capture 
        the complexities wrapped in each tortilla by developing the break-down below. Although it is 
        somewhat painful to boil down a Breakfast Burrito to a single number, we feel that through this 
        system we can fairly assign and rank our favorite little (or sometimes massive) morning munchies. 
        Below, you can find out how we rate.
    </p>
    <br>
    <h2>#1: Tortilla</h2>
    <p>Although the tortilla is the first thing we see before eating, it is often overlooked. 
        At Burritista, we believe this thin layer of flour or corn is integral to the overall 
        experience and should really be thought of as the Window to the Soul of the Breakfast 
        Burrito. Important factors include texture, structural integrity and folding technique (
        including appropriate ‘tucking’ of the ends). Scored: 1-10.
    </p>
    <br>
    <h2>#2: Filling Textures</h2>
    <p>Textures of the filling also play a key role. A good BB should have a variety of components 
        distinguishable by mouth feel alone, from the meat to the eggs to whatever else is bundled 
        inside. As Shakespeare once wrote: “It is upon the stage of texture that the players of 
        flavor can gracefully dance and sing.” Scored: 1-10.
    </p>
    <br>
    <h2>#3: Filling Flavors</h2>
    <p>Flavor = King. It’s what keeps us coming back for more, bite after bite. Like in #2, there 
        should be multiple distinguishable components; however, flavors should go one step further. 
        There are so many flavorful possibilities out there (from the basic egg and chorizo to the 
        more exotic fire-roasted Anaheim and adobo crema) that it may seem overwhelming to try to 
        compare them. But the good BB will harness its various flavors to create something greater 
        than the sum of its parts: scrumptious synergy. Scored: 1-10.
    </p>
    <br>
    <h2>#4: (Tasteful) Use of Potatoes</h2>
    <p>While this category may appear to overlap with #2 and #3, we feel that use of potatoes should 
        be separated because it is complicated and widely disputed.  While some find potatoes to be 
        merely cheap “filler” others see them as a major bonus in a BB.  To acknowledge both sides of 
        the debate, we neither condone nor condemn potatoes upfront. Instead, we require that a good 
        BB with potatoes must use them wisely and tastefully.  Quality attributes include amount, proper 
        cooking and flavor. Scored: 1-10.
        <br>
        <br>
        *As of 9/28/2019, scoring in this category for a burrito without potatoes was decided to be the 
        average of the other three scores. 
    </p>
    <br>
    <h2>Bonus: Smother Factor</h2>
    <p>We recognize that burritos come in all different shapes/sizes and that some are graced with a chili 
        smother and some don’t necessarily need it. To keep a roughly fair playing field for scoring, the 
        success of a BB’s garnishes (including chili smother, cheese, sour cream, etc.) is denoted by a “+” 
        after the score when applicable.  A failed smother (occurring only on the rarest of occasions) is 
        denoted by a “-“. Naked BBs only receive a number.
    </p>
    <br>
    <h2>Impression:</h2>
    <p>This is a one-sentence summary of the highlights and/or shortcomings of the burrito.
    </p>
    <br>
    <br>
{% endblock %}