{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <br>
    <h2>Denver Breakfast Burritos</h2>
    Welcome to La Burritista, “The Ultimate Breakfast Burrito Rating Website!” 
    We love Breakfast Burritos (BBs), especially Denver Burritos and want to share the lovin’ with you! 
    The idea for this site was born in early 2016, but wasn’t kicked into high gear until the following year during the Denver Post’s “March Madness Breakfast Burrito Bracket.” 
    We loved the new publicity this competition brought to our favorite food group; however, we also recognized that many BB joints were underrepresented or left out completely.
    <br>
    <br>
    On this site you will find carefully thought-out reviews of BBs from various locations in the greater Denver area. 
    Our goal is not only to rank our favorite ones, but to show the world the variety of quality Burritos that are out there.  
    We aim to educate the people on what is a qualified, delicious, burrito. So read on, and hopefully we can help you find the perfect burrito to sink your teeth into. 
    Enjoy!
{% endblock %}