{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>
    Denver Breakfast Burritos
</h1>
<br>
<p>
    Welcome to La Burritista, “The Ultimate Breakfast Burrito Rating Website!” 
    We love Breakfast Burritos (BBs), especially Denver Burritos and want to share the lovin’ with you! 
    The idea for this site was born in early 2016, but wasn’t kicked into high gear until the following year during the Denver Post’s “March Madness Breakfast Burrito Bracket.” 
    We loved the new publicity this competition brought to our favorite food group; however, we also recognized that many BB joints were underrepresented or left out completely.
</p>
<br>
<p>
    On this site you will find carefully thought-out reviews of Breakfast Burritos from various locations in the greater Denver area. 
    Our goal is not only to rank our favorite ones, but to show the world the variety of quality Burritos that are out there.  
    We aim to educate the people on what is a qualified, delicious, burrito. So read on, and hopefully we can help you find the perfect burrito to sink your teeth into. 
    Enjoy!
</p>
<br>
<p>
    Our team of dedicated burrito aficionados has scoured the city in search of the best breakfast burritos around. We've tried them all, from hole-in-the-wall 
    joints to fancy brunch spots, and we're here to share our findings with you.
</p>
<br>
<p>
    But we don't just give out high ratings to any burrito that comes our way. We take our job seriously and have developed a rigorous rating system that takes 
    into account all the important factors, from the quality of the tortilla to the flavor of the fillings. Our criteria include freshness, texture, balance of flavors, and overall enjoyment.
</p>
<br>
<p>
    You'll find our reviews to be honest, detailed, and informative. We don't hold back when it comes to our opinions, but we also recognize that taste is 
    subjective, and what we love may not be to everyone's liking. That's why we encourage our readers to leave their own reviews and comments on our site. 
    We believe that sharing different perspectives is what makes our community strong and vibrant.
</p>
<br>
<p>
    So whether you're a die-hard fan of breakfast burritos or a curious newcomer, we invite you to join us on our culinary journey through Denver's best 
    burrito spots. Let's celebrate this delicious and beloved food together!
</p>
<br>
<br>
{% endblock %}