{% extends "base.html" %}


{% block app_content %}

    <h1>{{ restaurant.restaurant_name }} Breakfast Burrito</h1>
    <br>
    <p>{{ restaurant.overview }}</p>
    <br>
    <h2>Tortilla</h2>
    <p>{{ restaurant.tortilla_desc }}</p>
    <h3>{{ restaurant.tortilla_score }}/10</h3>
    <br>
    <h2>Use of Potatoes</h2>
    <p>{{ restaurant.potato_desc }}</p>
    <h3>{{ restaurant.potato_score }}/10</h3>
    <br>
    <h2>Texture</h2>
    <p>{{ restaurant.texture_desc }}</p>
    <h3>{{ restaurant.texture_score }}/10</h3>
    <br>
    <h2>Flavor</h2>
    <p>{{ restaurant.flavor_desc }}</p>
    <h3>{{ restaurant.flavor_score }}/10</h3>
    <br>
    <h2>General </h2>
    <p>{{ restaurant.general_desc }}</p>
    <h3>{{ restaurant.general_score }}/10</h3>
    <br>
    <h2>Overall Score</h2>
    <h3>{{ restaurant.overall_score }}/100</h3>
    <br>
    <br>

{% endblock %}